# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Media uploads
media/

# Dataset (large files)
dataset/

# Virtual environment
venv/
.env

# VS Code
.vscode/

# System files
.DS_Store

db.sqlite3